body, html{
  background: url('https://www.walldevil.com/wallpapers/a83/halloween-wallpaper-holidays-cemetery-desktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
  height:100%;
}

a {
  padding: 25px 10px 25px 10px;
}

a:link, a:visited, a:active {
  color: lime;
}

a:hover {
  color: black;
  text-decoration: none;
}

audio {
  float: right;
}

body {
  background-color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
}

button {
  background-color: #000;
  border: 2px solid lime;
  margin: 10px 20px;
  padding: 5px;
  text-transform: uppercase;
}

button:hover {
  background-color: lime;
  color: black;
}

#dancefloor {
  height: 80%;
  position: absolute;
  width: 90%;
}

.dancer {
  border:10px solid red;
  border-radius:10px;
  height: 100px;
  position:absolute;
}

.dancer:hover {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title {
  color: lime;
  font-family: "Nosifer", display;
  font-size: 32px;
  text-align: center;
}

.topbar{
  background-color: #000;
  height: 125px;
  margin: 0 auto;
  opacity: 0.5;
  padding: 20px 10px;
  text-align: center;
}

.rainbow {
  /*font-family: 'Baloo Tammudu', cursive;*/

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}
}




/* SPIN */
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}